<template>
  <div>
  </div>
</template>

<script>
import {createNamespacedHelpers} from 'vuex'
const { mapState, mapActions } = createNamespacedHelpers('home')

export default {
  name: 'home',
  computed: {
    ...mapState(['newWorks'])
  },
  methods: {
    ...mapActions(['getNewWorks'])
  }
}
</script>

<style scoped>

</style>
